.h2-experiencs{
    text-align: center;
  font-size: 2.2rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.p-experiencs{
text-align: center;
  max-width: 700px;
  margin: 10px auto;
  color: #ddd6fe;
}